$darkmode: True;
$transparent: True;
$primary_paletteKeyColor: #6375AC;
$secondary_paletteKeyColor: #71768B;
$tertiary_paletteKeyColor: #8E6C8A;
$neutral_paletteKeyColor: #76767D;
$neutral_variant_paletteKeyColor: #73747D;
$background: #121318;
$onBackground: #E3E2E9;
$surface: #121318;
$surfaceDim: #121318;
$surfaceBright: #38393F;
$surfaceContainerLowest: #FFFFFF;
$surfaceContainerLow: #1A1B21;
$surfaceContainer: #1E1F25;
$surfaceContainerHigh: #292A2F;
$surfaceContainerHighest: #34343A;
$onSurface: #E3E2E9;
$surfaceVariant: #45464F;
$onSurfaceVariant: #C5C6D0;
$inverseSurface: #E3E2E9;
$inverseOnSurface: #2F3036;
$outline: #8F909A;
$outlineVariant: #45464F;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #B4C5FF;
$primary: #B4C5FF;
$onPrimary: #1A2D60;
$primaryContainer: #324478;
$onPrimaryContainer: #DBE1FF;
$inversePrimary: #4B5C92;
$secondary: #C1C5DD;
$onSecondary: #2B3042;
$secondaryContainer: #414659;
$onSecondaryContainer: #DDE1F9;
$tertiary: #E2BBDB;
$onTertiary: #422741;
$tertiaryContainer: #A986A4;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #DBE1FF;
$primaryFixedDim: #B4C5FF;
$onPrimaryFixed: #00174B;
$onPrimaryFixedVariant: #324478;
$secondaryFixed: #DDE1F9;
$secondaryFixedDim: #C1C5DD;
$onSecondaryFixed: #161B2C;
$onSecondaryFixedVariant: #414659;
$tertiaryFixed: #FFD6F8;
$tertiaryFixedDim: #E2BBDB;
$onTertiaryFixed: #2B122B;
$onTertiaryFixedVariant: #5A3D58;
