$darkmode: True;
$transparent: True;
$primary_paletteKeyColor: #A55DA1;
$secondary_paletteKeyColor: #846E80;
$tertiary_paletteKeyColor: #9D6A5D;
$neutral_paletteKeyColor: #070707;
$neutral_variant_paletteKeyColor: #070707;
$background: #131313;
$onBackground: #E2E2E2;
$surface: #131313;
$surfaceDim: #131313;
$surfaceBright: #393939;
$surfaceContainerLowest: #FFFFFF;
$surfaceContainerLow: #1B1B1B;
$surfaceContainer: #1F1F1F;
$surfaceContainerHigh: #2A2A2A;
$surfaceContainerHighest: #353535;
$onSurface: #E2E2E2;
$surfaceVariant: #474747;
$onSurfaceVariant: #C6C6C6;
$inverseSurface: #E2E2E2;
$inverseOnSurface: #303030;
$outline: #919191;
$outlineVariant: #474747;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #FDABF6;
$primary: #FDABF6;
$onPrimary: #541355;
$primaryContainer: #6E2C6D;
$onPrimaryContainer: #FFD6F7;
$inversePrimary: #894587;
$secondary: #D9BFD3;
$onSecondary: #3C2B3A;
$secondaryContainer: #574354;
$onSecondaryContainer: #F8DCF1;
$tertiary: #F6B8A9;
$onTertiary: #4C261C;
$tertiaryContainer: #BA8376;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #FFD6F7;
$primaryFixedDim: #FDABF6;
$onPrimaryFixed: #37003A;
$onPrimaryFixedVariant: #6E2C6D;
$secondaryFixed: #F6DAEF;
$secondaryFixedDim: #D9BFD3;
$onSecondaryFixed: #261625;
$onSecondaryFixedVariant: #544151;
$tertiaryFixed: #FFDBD2;
$tertiaryFixedDim: #F6B8A9;
$onTertiaryFixed: #321209;
$onTertiaryFixedVariant: #663B30;
