$darkmode: True;
$transparent: True;
$primary_paletteKeyColor: #696FC4;
$secondary_paletteKeyColor: #6E72AC;
$tertiary_paletteKeyColor: #9A6696;
$neutral_paletteKeyColor: #81737D;
$neutral_variant_paletteKeyColor: #846E80;
$background: #1A1018;
$onBackground: #F0DDE9;
$surface: #1A1018;
$surfaceDim: #1A1018;
$surfaceBright: #41363F;
$surfaceContainerLowest: #FFFFFF;
$surfaceContainerLow: #221821;
$surfaceContainer: #261C25;
$surfaceContainerHigh: #312730;
$surfaceContainerHighest: #3D313A;
$onSurface: #F0DDE9;
$surfaceVariant: #544151;
$onSurfaceVariant: #D9BFD3;
$inverseSurface: #F0DDE9;
$inverseOnSurface: #382D36;
$outline: #A18A9D;
$outlineVariant: #544151;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #BEC2FF;
$primary: #BEC2FF;
$onPrimary: #202578;
$primaryContainer: #383E8F;
$onPrimaryContainer: #E0E0FF;
$inversePrimary: #5056A9;
$secondary: #BEC2FF;
$onSecondary: #272B60;
$secondaryContainer: #40447B;
$onSecondaryContainer: #E2E1FF;
$tertiary: #EFB3E8;
$onTertiary: #4B1F4A;
$tertiaryContainer: #B57FB0;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #E0E0FF;
$primaryFixedDim: #BEC2FF;
$onPrimaryFixed: #050865;
$onPrimaryFixedVariant: #383E8F;
$secondaryFixed: #E0E0FF;
$secondaryFixedDim: #BEC2FF;
$onSecondaryFixed: #11144B;
$onSecondaryFixedVariant: #3E4278;
$tertiaryFixed: #FFD6F7;
$tertiaryFixedDim: #EFB3E8;
$onTertiaryFixed: #330834;
$onTertiaryFixedVariant: #643662;
