$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #0072FF;
$secondary_paletteKeyColor: #737498;
$tertiary_paletteKeyColor: #7C6FA3;
$neutral_paletteKeyColor: #747783;
$neutral_variant_paletteKeyColor: #737785;
$background: #10131C;
$onBackground: #E0E2EF;
$surface: #10131C;
$surfaceDim: #10131C;
$surfaceBright: #363943;
$surfaceContainerLowest: #FFFFFF;
$surfaceContainerLow: #181B25;
$surfaceContainer: #1C1F29;
$surfaceContainerHigh: #262A34;
$surfaceContainerHighest: #31353F;
$onSurface: #E0E2EF;
$surfaceVariant: #424654;
$onSurfaceVariant: #C2C6D6;
$inverseSurface: #E0E2EF;
$inverseOnSurface: #2D303A;
$outline: #8C909F;
$outlineVariant: #424654;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #AFC6FF;
$primary: #AFC6FF;
$onPrimary: #002D6D;
$primaryContainer: #00429A;
$onPrimaryContainer: #D9E2FF;
$inversePrimary: #0058C9;
$secondary: #C3C3EB;
$onSecondary: #2C2E4D;
$secondaryContainer: #424465;
$onSecondaryContainer: #E0E0FF;
$tertiary: #CEBEF7;
$onTertiary: #352957;
$tertiaryContainer: #9789BE;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #D9E2FF;
$primaryFixedDim: #AFC6FF;
$onPrimaryFixed: #001944;
$onPrimaryFixedVariant: #00429A;
$secondaryFixed: #E0E0FF;
$secondaryFixedDim: #C3C3EB;
$onSecondaryFixed: #171937;
$onSecondaryFixedVariant: #424465;
$tertiaryFixed: #E8DDFF;
$tertiaryFixedDim: #CEBEF7;
$onTertiaryFixed: #1F1341;
$onTertiaryFixedVariant: #4B3F6F;
