$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #FEFF04;
$secondary_paletteKeyColor: #727C50;
$tertiary_paletteKeyColor: #627F4C;
$neutral_paletteKeyColor: #797865;
$neutral_variant_paletteKeyColor: #797861;
$background: #141407;
$onBackground: #E6E3CD;
$surface: #141407;
$surfaceDim: #141407;
$surfaceBright: #3A3A2A;
$surfaceContainerLowest: #FFFFFF;
$surfaceContainerLow: #1C1C0E;
$surfaceContainer: #202012;
$surfaceContainerHigh: #2B2B1C;
$surfaceContainerHighest: #363626;
$onSurface: #E6E3CD;
$surfaceVariant: #484834;
$onSurfaceVariant: #CAC8AD;
$inverseSurface: #E6E3CD;
$inverseOnSurface: #313122;
$outline: #93927A;
$outlineVariant: #484834;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #CCCD00;
$primary: #CCCD00;
$onPrimary: #323200;
$primaryContainer: #494900;
$onPrimaryContainer: #E9EA00;
$inversePrimary: #616200;
$secondary: #C1CC99;
$onSecondary: #2B340F;
$secondaryContainer: #414B24;
$onSecondaryContainer: #DDE8B4;
$tertiary: #B0D095;
$onTertiary: #1D370B;
$tertiaryContainer: #7B9A64;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #E9EA00;
$primaryFixedDim: #CCCD00;
$onPrimaryFixed: #1D1D00;
$onPrimaryFixedVariant: #494900;
$secondaryFixed: #DDE8B4;
$secondaryFixedDim: #C1CC99;
$onSecondaryFixed: #171E00;
$onSecondaryFixedVariant: #414B24;
$tertiaryFixed: #CBEDAF;
$tertiaryFixedDim: #B0D095;
$onTertiaryFixed: #0A2100;
$onTertiaryFixedVariant: #334E20;
